<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">
<tr>
	<td>
		<f:render partial="Task/Status" arguments="{task:task}"/>
	</td>
	<td>
		<f:link.action action="show" title="[{task.uid}] {task.name}" arguments="{task : task}">
			{task.shortName -> f:or(alternative:task.name)}
		</f:link.action>
	</td>
	<td>
		{task.additionalInformation}
	</td>
	<td>
		<f:if condition="{task.status} !== 2">
			<f:if condition="{task.retries}">
				<f:then>{task.retries}
				</f:then>
				<f:else><span style="opacity: 0.3">0</span>
				</f:else>
			</f:if>
		</f:if>
	</td>
	<td>
		<f:link.action class="btn btn-default" action="run" arguments="{task:task}" title="{f:translate(key:'actions.runTask')}">
			<core:icon identifier="actions-move-right"/>
		</f:link.action>
	</td>
	<td>
		<f:link.action class="btn btn-default" action="delete" arguments="{task:task}" title="{f:translate(key:'actions.deleteTask')}">
			<core:icon identifier="actions-edit-delete"/>
		</f:link.action>
	</td>
	<td>
		<f:if condition="{task.lastRun}">
			<f:format.date format="d.m.Y - H:i:s">{task.lastRun}</f:format.date>
		</f:if>
	</td>
	<td>
		<f:if condition="{task.status} == 2">
			<f:then>
											<span style="opacity:0.3">
												{task.message}
											</span>
			</f:then>
			<f:else>
				{task.message}
			</f:else>
		</f:if>
	</td>
</tr>
