<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">
<th align="left">
	<f:link.action action="list" arguments="{demand: column.targetDemand, currentPage: 1}">
		<f:translate key="{column.labelKey}" />
		<f:if condition="{column.active}">
			<f:then>
				<f:if condition="{column.direction} == 'ASC'">
					<f:then><core:icon identifier="actions-sort-amount-up" /></f:then>
					<f:else><core:icon identifier="actions-sort-amount-down" /></f:else>
				</f:if>
			</f:then>
		</f:if>
	</f:link.action>
</th>
</html>
