<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			xmlns:be="http://typo3.org/ns/Undkonsorten/Taskqueue/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">
<f:comment><!-- @TODO remove VH and namespace declaration xmlns:be after upgrade to TYPO3 9 --></f:comment>

<tr>
    <td>
        <f:translate key="tx_taskqueue_domain_model_task.status"/>
    </td>
    <td>
        <f:if condition="{task.status}==3">
            <f:image src="EXT:taskqueue/Resources/Public/Icons/red.png" title="FAILED"/>
            failed
        </f:if>
        <f:if condition="{task.status}==2">
            <f:image src="EXT:taskqueue/Resources/Public/Icons/green.png" title="FINISHED"/>
            finished
        </f:if>
        <f:if condition="{task.status}==0">
            <f:image src="EXT:taskqueue/Resources/Public/Icons/blue.png" title="WAITING"/>
            waiting
        </f:if>
        <f:if condition="{task.status}==1">
            <f:image src="EXT:taskqueue/Resources/Public/Icons/blue.png" title="RUNNING"/>
            running
        </f:if>
			<f:if condition="{task.status}==4">
				<f:image src="EXT:taskqueue/Resources/Public/Icons/yellow.png"
								 title="RETRY"/>
					retry
			</f:if>
    </td>
</tr>
<f:if condition="{task.record}">
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.record"/>
		</td>
		<td>
			<be:link.editRecord uid="{task.record.uid}" table="{task.record.tableName}"><core:icon identifier="actions-page-open" /> <f:or alternative="{task.record.tableName}:{task.record.uid}">{task.recordLabel}</f:or></be:link.editRecord>
		</td>
	</tr>
</f:if>
<f:if condition="{task.startDate}">
<tr>
    <td>
        <f:translate key="tx_taskqueue_domain_model_task.start_date"/>
    </td>
    <td>
        <f:format.date format="d.m.Y - H:i:s">@{task.startDate}</f:format.date>
    </td>
</tr>
</f:if>
<f:if condition="{task.message}">
    <tr>
        <td>
            <f:translate key="tx_taskqueue_domain_model_task.message"/>
        </td>
        <td>
            {task.message}
        </td>
    </tr>
</f:if>
<tr>
    <td>
        <f:translate key="tx_taskqueue_domain_model_task.retries"/>
    </td>
    <td>
        {task.retries}
    </td>
</tr>
<f:if condition="{task.status} == 3">
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.lastTry">last try</f:translate>
		</td>
		<td>
			{task.tstamp}
		</td>
	</tr>
</f:if>
<tr>
    <th colspan="2" class="t3-row-header">
        <f:translate key="tx_taskqueue_domain_model_task.data"/>
    </th>
</tr>
<f:for each="{task.allData}" as="value" key="property">
    <f:if condition="{property} == 'mail'">
        <f:then>
            <f:for each="{value}" as="mailValue" key="mailProperty">
                <tr>
                    <td>mail.{mailProperty}</td>
                    <td>{mailValue}</td>
                </tr>
            </f:for>
        </f:then>
        <f:else>
            <f:if condition="{property} == 'passphrase'">
                <f:else>
                    <tr>
                        <td>{property}</td>
                        <td>{value}</td>
                    </tr>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:for>
</html>
