
<table class="tx-taskqueue" >
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.name" />
		</td>
		<td>
			{task.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.data" />
		</td>
		<td>
			<f:for each="{task.data}" as="value" key="property">
				{property}:{value} </br>
			</f:for>
			
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.status" />
		</td>
		<td>
			<f:if condition="{task.status}==3">
					<f:image src="EXT:taskqueue/Resources/Public/Icons/red.png" title="FAILED"/>
				</f:if>
				<f:if condition="{task.status}==2">
					<f:image src="EXT:taskqueue/Resources/Public/Icons/green.png" title="FINISHED"/>
				</f:if>
				<f:if condition="{task.status}==0">
					<f:image src="EXT:taskqueue/Resources/Public/Icons/blue.png" title="WAITING"/>
				</f:if>
				<f:if condition="{task.status}==1">
					<f:image src="EXT:taskqueue/Resources/Public/Icons/blue.png" title="RUNNING"/>
				</f:if>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.start_date" />
		</td>
		<td>
			  <f:format.date format="d.m.Y - H:i:s">@{task.startDate}</f:format.date>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.message" />
		</td>
		<td>
			{task.message}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.priority" />
		</td>
		<td>
			{task.priority}
		</td>
	</tr>
</table>