
<table class="tx-taskqueue" >
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.name" />
		</td>
		<td>
			{task.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.data" />
		</td>
		<td>
			{task.data}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.status" />
		</td>
		<td>
			{task.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.start_date" />
		</td>
		<td>
			{task.startDate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.message" />
		</td>
		<td>
			{task.message}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_taskqueue_domain_model_task.priority" />
		</td>
		<td>
			{task.priority}
		</td>
	</tr>
</table>