<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="search-form">
	<f:form object="{demand}" controller="Task" action="list" name="demand">
		<fieldset>
			<div class="filter clearfix">
				<f:if condition="{status}">
					<div class="form-field-wrap">
						<label for="status">
							<f:translate key="tx_taskqueue_domain_model_task.status"/>
						</label>
						<f:form.select prependOptionLabel=""
													 prependOptionValue="" id="status" name="status" property="status" options="{status}"
													 optionValueField="uid" optionLabelField="title"/>
					</div>
				</f:if>
				<div class="form-field-wrap">
					<f:form.button class="btn btn-primary">
						<f:translate key='module.filter'></f:translate>
					</f:form.button>
				</div>
			</div>
		</fieldset>
	</f:form>
</div>

</html>
