<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="search-form">
	<f:form object="{demand}" controller="Task" action="list" name="demand">
		<fieldset>
			<div class="row row-cols-auto align-items-end g-3 mb-4">
				<div class="col">

						<label for="status">
							<f:translate key="tx_taskqueue_domain_model_task.status"/>
						</label>
					<div class="input-group">
						<f:form.select prependOptionLabel="{f:translate(key: 'module.filter.label')}"
													 prependOptionValue=""
													 id="status"
													 name="status"
													 class="form-select"
													 property="status"
													 options="{status}"
													 optionValueField="uid"
													 optionLabelField="title"/>
						<f:form.button class="btn btn-default">
							<f:translate key='module.filter'></f:translate>
						</f:form.button>

					</div>
				</div>
			</div>
		</fieldset>
	</f:form>
</div>

</html>
