<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:if condition="{pagination.firstPageNumber} != {pagination.lastPageNumber}">
	<nav class="pagination-wrap">
		<ul class="pagination">



			<f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
				<f:then>
					<li class="pagination-first">
						<f:link.action action="{action}" arguments="{currentPage: 1}" title="{f:translate(key: 'pagination.first')}">{f:translate(key: 'pagination.first')}</f:link.action>
					</li>
					<li class="pagination-previous">
						<f:link.action action="{action}" arguments="{currentPage: pagination.previousPageNumber}" title="{f:translate(key: 'pagination.previous')}">{f:translate(key: 'pagination.previous')}</f:link.action>
					</li>
				</f:then>
				<f:else>
					<li class="pagination-first disabled">
						<span>{f:translate(key: 'pagination.first')}</span>
					</li>
					<li class="pagination-previous disabled">
						<span>{f:translate(key: 'pagination.previous')}</span>
					</li>
				</f:else>
			</f:if>

			<f:for each="{pagination.pages}" as="page">
				<f:if condition="{page} == {pagination.currentPageNumber}">
					<f:then><li class="current"><span>{page}</span></li></f:then>
					<f:else><li><f:link.action action="{action}" arguments="{currentPage: page}">{page}</f:link.action></li></f:else>
				</f:if>
			</f:for>

			<f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
				<f:then>
					<li class="pagination-next">
						<f:link.action action="{action}" arguments="{currentPage: pagination.nextPageNumber}" title="{f:translate(key: 'pagination.next')}">{f:translate(key: 'pagination.next')}</f:link.action>
					</li>
					<li class="pagination-last">
						<f:link.action action="{action}" arguments="{currentPage: pagination.lastPageNumber}" title="{f:translate(key: 'pagination.last')}">{f:translate(key: 'pagination.last')}</f:link.action>
					</li>
				</f:then>
				<f:else>
					<li class="pagination-next disabled">
						<span>{f:translate(key: 'pagination.next')}</span>
					</li>
					<li class="pagination-last disabled">
						<span>{f:translate(key: 'pagination.last')}</span>
					</li>
				</f:else>
			</f:if>
		</ul>
	</nav>
</f:if>


</html>
