<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
	<h1><f:translate key="headline" /></h1>
	<f:flashMessages/>
	<f:render partial="Filter" arguments="{demand:demand,status:status}"/>
	<f:if condition="{tasks}">
			<div class="recordlist mb-5 mt-4 border">
				<div class="recordlist-heading row m-0 p-2 g-0 gap-1 align-items-center ">
					<f:translate key="tableHeader" />
				</div>
				<div id="task-list">
					<f:render partial="SimplePagination" arguments="{paginator:paginator,pagination:pagination,action:'list',demand:demand}" />
					<table data-table="tx_taskqueue" class="table table-striped table-hover m-0">
						<tr>
							<th>
								<f:translate key="tx_taskqueue_domain_model_task.status"/>
							</th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.name"/>
							</th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.additionalInformation" />
							</th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.retries"/>
							</th>
							<th colspan="2"><f:translate key="tx_taskqueue_domain_model_task.actions" /></th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.created_at"/>
							</th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.last_run"/>
							</th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.message"/>
							</th>
						</tr>
						<f:for each="{tasks}" as="task">
							<f:render partial="List/Item" arguments="{task:task}" />
						</f:for>
					</table>
					<f:render partial="SimplePagination" arguments="{paginator:paginator,pagination:pagination,action:'list',demand:demand}" />
				</div>
			</div>
		</div>
	</f:if>

</f:section>
</html>
