<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
	<h1><f:translate key="headline" /></h1>
	<f:flashMessages/>
	<f:render partial="Filter" arguments="{demand:demand,status:status}"/>
	<f:if condition="{tasks}">
			<div class="recordlist mb-5 mt-4 border">
				<div class="recordlist-heading row m-0 p-2 g-0 gap-1 align-items-center ">
					<f:translate key="tableHeader" />
				</div>
				<div id="task-list">
					<f:render partial="SimplePagination" arguments="{paginator:paginator,pagination:pagination,action:'list',demand:demand}" />
					<table data-table="tx_taskqueue" class="table table-striped table-hover m-0">
						<tr>
							<th></th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.name"/>
							</th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.additionalInformation" />
							</th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.retries"/>
							</th>
							<th colspan="2"><f:translate key="tx_taskqueue_domain_model_task.actions" /></th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.last_run"/>
							</th>
							<th align="left">
								<f:translate key="tx_taskqueue_domain_model_task.message"/>
							</th>
						</tr>
						<f:for each="{tasks}" as="task">
							<tr>
								<td>
									<f:if condition="{task.status}==3">
										<f:image src="EXT:taskqueue/Resources/Public/Icons/failed.svg" title="{task.uid}: FAILED"/>
									</f:if>
									<f:if condition="{task.status}==2">
										<f:image src="EXT:taskqueue/Resources/Public/Icons/finished.svg"
														 title="{task.uid}: FINISHED"/>
									</f:if>
									<f:if condition="{task.status}==0">
										<f:image src="EXT:taskqueue/Resources/Public/Icons/waiting.svg"
														 title="{task.uid}: WAITING"/>
									</f:if>
									<f:if condition="{task.status}==1">
										<f:image src="EXT:taskqueue/Resources/Public/Icons/running.svg"
														 title="{task.uid}: RUNNING"/>
									</f:if>
									<f:if condition="{task.status}==4">
										<f:image src="EXT:taskqueue/Resources/Public/Icons/retry.svg"
														 title="{task.uid}: RETRY"/>
									</f:if>
								</td>
								<td>
									<f:link.action action="show" title="[{task.uid}] {task.name}" arguments="{task : task}">
										{task.shortName -> f:or(alternative:task.name)}
									</f:link.action>
								</td>
								<td>
									{task.additionalInformation}
								</td>
								<td>
									<f:if condition="{task.status} !== 2">
										<f:if condition="{task.retries}">
											<f:then>{task.retries}
											</f:then>
											<f:else><span style="opacity: 0.3">0</span>
											</f:else>
										</f:if>
									</f:if>
								</td>
								<td>
									<f:link.action class="btn btn-default" action="run" arguments="{task:task}" title="{f:translate(key:'actions.runTask')}">
										<core:icon identifier="actions-move-right"/>
									</f:link.action>
								</td>
								<td>
									<f:link.action class="btn btn-default" action="delete" arguments="{task:task}" title="{f:translate(key:'actions.deleteTask')}">
										<core:icon identifier="actions-edit-delete"/>
									</f:link.action>
								</td>
								<td>
									<f:if condition="{task.lastRun}">
										<f:format.date format="d.m.Y - H:i:s">{task.lastRun}</f:format.date>
									</f:if>
								</td>
								<td>
									<f:if condition="{task.status} == 2">
										<f:then>
											<span style="opacity:0.3">
												{task.message}
											</span>
										</f:then>
										<f:else>
											{task.message}
										</f:else>
									</f:if>
								</td>
							</tr>
						</f:for>
					</table>
					<f:render partial="SimplePagination" arguments="{paginator:paginator,pagination:pagination,action:'list',demand:demand}" />
				</div>
			</div>
		</div>
	</f:if>

</f:section>
</html>
