<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">
        <f:if condition="{task.status}==3">
            <f:image src="EXT:taskqueue/Resources/Public/Icons/failed.svg" title="FAILED"/>
						<f:translate extensionName="Taskqueue" key="tx_taskqueue_domain_model_task.status.failed"/>
        </f:if>
        <f:if condition="{task.status}==2">
            <f:image src="EXT:taskqueue/Resources/Public/Icons/finished.svg" title="FINISHED"/>
						<f:translate extensionName="Taskqueue" key="tx_taskqueue_domain_model_task.status.finished"/>
        </f:if>
        <f:if condition="{task.status}==0">
            <f:image src="EXT:taskqueue/Resources/Public/Icons/waiting.svg" title="WAITING"/>
						<f:translate extensionName="Taskqueue" key="tx_taskqueue_domain_model_task.status.waiting"/>
        </f:if>
        <f:if condition="{task.status}==1">
            <f:image src="EXT:taskqueue/Resources/Public/Icons/running.svg" title="RUNNING"/>
						<f:translate extensionName="Taskqueue" key="tx_taskqueue_domain_model_task.status.running"/>
        </f:if>
			<f:if condition="{task.status}==4">
				<f:image src="EXT:taskqueue/Resources/Public/Icons/retry.svg" title="RETRY"/>
				<f:translate extensionName="Taskqueue" key="tx_taskqueue_domain_model_task.status.retry"/>
			</f:if>
			<f:if condition="{task.status}==5">
				<f:image  height="16" src="EXT:taskqueue/Resources/Public/Icons/terminated.svg" title="TERMINATED"/>
				<f:translate extensionName="Taskqueue" key="tx_taskqueue_domain_model_task.status.terminated"/>
			</f:if>
</html>
