<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="additionalDocheaderButtons">
    <f:link.action action="list" title="Reload the list">
        <core:icon identifier="actions-system-refresh"/>
    </f:link.action>
</f:section>

<f:section name="content">
    <h1>Listing for Task</h1>

    <f:flashMessages/>

    <f:if condition="{tasks}">
        <div class="panel panel-space panel-default recordlist">
            <div class="panel-heading">
                Tasks
            </div>
            <div id="task-list">
                <div class="table-fit">
                    <f:be.widget.paginate as="paginatedTasks" objects="{tasks}"
                                          configuration="{settings.pagination}">

                        <table data-table="tx_taskqueue" class="table table-striped table-hover">
                            <tr>
                                <th></th>
                                <th align="left">
                                    <f:translate key="tx_taskqueue_domain_model_task.name"/>
                                </th>
                                <th align="left">
                                    <f:translate key="tx_taskqueue_domain_model_task.start_date"/>
                                </th>
                                <th align="left">
                                    <f:translate key="tx_taskqueue_domain_model_task.message"/>
                                </th>
                                <th align="left">
                                    <f:translate key="tx_taskqueue_domain_model_task.retries"/>
                                </th>
                                <th></th>
                            </tr>
                            <f:for each="{paginatedTasks}" as="task">
                                <tr style="border-top:dotted 1px black;">
                                    <td>
                                        <f:if condition="{task.status}==3">
                                            <f:image src="EXT:taskqueue/Resources/Public/Icons/red.png" title="FAILED"/>
                                        </f:if>
                                        <f:if condition="{task.status}==2">
                                            <f:image src="EXT:taskqueue/Resources/Public/Icons/green.png"
                                                     title="FINISHED"/>
                                        </f:if>
                                        <f:if condition="{task.status}==0">
                                            <f:image src="EXT:taskqueue/Resources/Public/Icons/blue.png"
                                                     title="WAITING"/>
                                        </f:if>
                                        <f:if condition="{task.status}==1">
                                            <f:image src="EXT:taskqueue/Resources/Public/Icons/blue.png"
                                                     title="RUNNING"/>
                                        </f:if>
																			<f:if condition="{task.status}==4">
																				<f:image src="EXT:taskqueue/Resources/Public/Icons/yellow.png"
																								 title="RETRY"/>
																			</f:if>
                                    </td>
                                    <td>

                                        <f:link.action action="show" arguments="{task : task}"> {task.name}
                                        </f:link.action>
                                    </td>
                                    <td>
                                        <f:if condition="{task.startDate}"><f:format.date format="d.m.Y - H:i:s">@{task.startDate}</f:format.date></f:if>
                                    </td>
                                    <td>{task.message}</td>
                                    <td>{task.retries}</td>
                                    <td>
                                        <f:link.action class="btn btn-default" action="run" arguments="{task:task}" title="Run Task">
                                            <core:icon identifier="actions-move-right"/>
                                        </f:link.action>
                                        <f:link.action class="btn btn-default" action="delete" arguments="{task:task}" title="Delete Task">
                                            <core:icon identifier="actions-edit-delete"/>
                                        </f:link.action>
                                    </td>
                                </tr>
                            </f:for>
                        </table>
                    </f:be.widget.paginate>

                </div>
            </div>
        </div>

        <f:link.action action="deleteFinished">Delete finished</f:link.action>
        <f:link.action action="deleteFailed">Delete failed</f:link.action>
    </f:if>

</f:section>
</html>
