<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
<h1>Single View for Task</h1>

<f:flashMessages />
  <div class="panel panel-space panel-default">
    <div class="panel-heading">
			{task.name}
    </div>
    <div class="table-fit">
      <table class="table table-striped table-hover">
        <tr>
          <td colspan="3">
            <f:link.action class="btn btn-default" action="run" arguments="{task:task}" title="Run Task">
              <core:icon identifier="actions-move-right"/> Run task
            </f:link.action>
            <f:link.action class="btn btn-default" action="delete" arguments="{task:task}" title="Delete Task">
              <core:icon identifier="actions-edit-delete"/> Delete task
            </f:link.action>
            <f:link.action class="btn btn-default" action="list" title="Close">
              <core:icon identifier="actions-document-close"/> Close
            </f:link.action>
						<f:if condition="{task.status} == 3">
							<f:link.action class="btn btn-default" action="reactivate" arguments="{task:task}" title="Reactivate">
								<core:icon identifier="actions-document-history-open" /> Reactivate
							</f:link.action>
						</f:if>
          </td>
        </tr>
        <f:render partial="Task/Properties" arguments="{task:task}"/>
      </table>
  </div>
  </div>
	<div class="help-block text-right">
		<strong>{task.name}</strong>  <span class="typo3-TCEforms-recUid">[{task.uid}]</span>
	</div>
</f:section>
</html>
