
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Single View for Task</h1>

<f:flashMessages />
<f:be.buttons.icon uri="{f:uri.action(action:'run', arguments:{task : task})}" icon="actions-move-right" title="Run Task"/>
<f:be.buttons.icon uri="{f:uri.action(action:'delete', arguments:{task : task})}" icon="actions-edit-delete" title="Delete Task"/>
<f:be.buttons.icon uri="{f:uri.action(action:'list')}" icon="actions-document-close" title="Close"/>
<f:render partial="Task/Properties" arguments="{task:task}" />
</f:section>